In [2]:
import logging
logging.basicConfig(level=logging.DEBUG)

In [3]:
import aseg_gdf2

In [10]:
gdf = aseg_gdf2.read("dash_widths.dfn", engine="pandas", method="fixed-widths")

INFO:aseg_gdf2.gdf2:line 0: added record type RT=
DEBUG:aseg_gdf2.gdf2:line 0: looping through 1 field definitions for RT=
INFO:aseg_gdf2.gdf2:line 0: adding field {'name': 'FLTNUM', 'format': 'F10.1', 'unit': '', 'null': None, 'long_name': 'FlightNumber', 'comment': '', 'cols': 1, 'width': 10} to record type RT=
DEBUG:aseg_gdf2.gdf2:line 1: looping through 1 field definitions for RT=
INFO:aseg_gdf2.gdf2:line 1: adding field {'name': 'Rx_Voltage', 'format': 'F10.5', 'unit': 'Volt', 'null': '-99.99999', 'long_name': 'Rx_Voltage', 'comment': '', 'cols': 1, 'width': 10} to record type RT=
DEBUG:aseg_gdf2.gdf2:line 2: looping through 1 field definitions for RT=
INFO:aseg_gdf2.gdf2:line 2: adding field {'name': 'Flight', 'format': 'A6', 'unit': '', 'null': '-9999', 'long_name': 'Flight', 'comment': '', 'cols': 1, 'width': 6} to record type RT=
DEBUG:aseg_gdf2.gdf2:line 3: looping through 1 field definitions for RT=
INFO:aseg_gdf2.gdf2:line 3: adding field {'name': 'Time', 'format': 'F10.4', 'unit': 'msec', 'null': '-999.9999', 'long_name': 'Time', 'comment': '', 'cols': 1, 'width': 10} to record type RT=
DEBUG:aseg_gdf2.gdf2:line 4: looping through 2 field definitions for RT=
INFO:aseg_gdf2.gdf2:line 4: adding field {'name': 'Tx_Current', 'format': 'F13.5', 'unit': 'Amp', 'null': '-99999.99999', 'long_name': 'Tx_Current', 'comment': '', 'cols': 1, 'width': 13} to record type RT=
DEBUG:aseg_gdf2.gdf2:line 4: end of field definition for record type RT=

In [19]:
print(gdf.dfn_contents)

DEFN 1 ST=RECD,RT=;FLTNUM:F10.1:NAME=FlightNumber
DEFN 2 ST=RECD,RT=;Rx_Voltage:F10.5:NULL=-99.99999,UNIT=Volt,NAME=Rx_Voltage
DEFN 3 ST=RECD,RT=;Flight:A6:NULL=-9999,NAME=Flight
DEFN 4 ST=RECD,RT=;Time:F10.4:NULL=-999.9999,UNIT=msec,NAME=Time
DEFN 5 ST=RECD,RT=;Tx_Current:F13.5:NULL=-99999.99999,UNIT=Amp,NAME=Tx_Current;END DEFN

In [20]:
with open(gdf.dat_filename) as f:
    print(f.read())

       1.0  -0.00000     1    0.0052      0.00176
       1.0  -0.00000   KIR    0.0104      0.00176
       1.0  -0.00000A UNBA    0.0156      0.00176
       1.0  -0.00000RAMROD    0.0208      0.00176
       1.0  -0.00000     1    0.0260      0.00176
       1.0  -0.000001         0.0312      0.00176
       1.0  -0.00000     1    0.0365      0.00176
       1.0  -0.00000     1    0.0417      0.00176
       1.0  -0.00000     1    0.0469      0.00176
       1.0  -0.00000     1    0.0521      0.00176
       1.0  -0.00000     1    0.0573      0.00176
       1.0  -0.00000     1    0.0625      0.00176
       1.0  -0.00000     1    0.0677      0.00176
       1.0  -0.00000     1    0.0729      0.00176
       1.0  -0.00000     1    0.0781      0.00176
       1.0  -0.00000     1    0.0833      0.00176
       1.0  -0.00000     1    0.0885      0.00176

In [11]:
df = gdf.df()
df

DEBUG:aseg_gdf2.gdf2:_parse_dat: na_values = {'Rx_Voltage': '-99.99999', 'Flight': '-9999', 'Time': '-999.9999', 'Tx_Current': '-99999.99999'}
DEBUG:aseg_gdf2.gdf2:df(kws=
{'header': None,
 'index_col': False,
 'keep_default_na': True,
 'na_values': {'Flight': '-9999',
               'Rx_Voltage': '-99.99999',
               'Time': '-999.9999',
               'Tx_Current': '-99999.99999'},
 'names': ['FLTNUM', 'Rx_Voltage', 'Flight', 'Time', 'Tx_Current'],
 'widths': [10, 10, 6, 10, 13]})
DEBUG:aseg_gdf2.gdf2:final na_values = {'Rx_Voltage': '-99.99999', 'Flight': '-9999', 'Time': '-999.9999', 'Tx_Current': '-99999.99999'}

    FLTNUM  Rx_Voltage  Flight    Time  Tx_Current
0      1.0        -0.0       1  0.0052     0.00176
1      1.0        -0.0     KIR  0.0104     0.00176
2      1.0        -0.0  A UNBA  0.0156     0.00176
3      1.0        -0.0  RAMROD  0.0208     0.00176
4      1.0        -0.0       1  0.0260     0.00176
5      1.0        -0.0       1  0.0312     0.00176
6      1.0        -0.0       1  0.0365     0.00176
7      1.0        -0.0       1  0.0417     0.00176
8      1.0        -0.0       1  0.0469     0.00176
9      1.0        -0.0       1  0.0521     0.00176
10     1.0        -0.0       1  0.0573     0.00176
11     1.0        -0.0       1  0.0625     0.00176
12     1.0        -0.0       1  0.0677     0.00176
13     1.0        -0.0       1  0.0729     0.00176
14     1.0        -0.0       1  0.0781     0.00176
15     1.0        -0.0       1  0.0833     0.00176
16     1.0        -0.0       1  0.0885     0.00176

In [12]:
gdf = aseg_gdf2.read("dash_widths.dfn", method="fixed-widths", engine="dask")

INFO:aseg_gdf2.gdf2:line 0: added record type RT=
DEBUG:aseg_gdf2.gdf2:line 0: looping through 1 field definitions for RT=
INFO:aseg_gdf2.gdf2:line 0: adding field {'name': 'FLTNUM', 'format': 'F10.1', 'unit': '', 'null': None, 'long_name': 'FlightNumber', 'comment': '', 'cols': 1, 'width': 10} to record type RT=
DEBUG:aseg_gdf2.gdf2:line 1: looping through 1 field definitions for RT=
INFO:aseg_gdf2.gdf2:line 1: adding field {'name': 'Rx_Voltage', 'format': 'F10.5', 'unit': 'Volt', 'null': '-99.99999', 'long_name': 'Rx_Voltage', 'comment': '', 'cols': 1, 'width': 10} to record type RT=
DEBUG:aseg_gdf2.gdf2:line 2: looping through 1 field definitions for RT=
INFO:aseg_gdf2.gdf2:line 2: adding field {'name': 'Flight', 'format': 'A6', 'unit': '', 'null': '-9999', 'long_name': 'Flight', 'comment': '', 'cols': 1, 'width': 6} to record type RT=
DEBUG:aseg_gdf2.gdf2:line 3: looping through 1 field definitions for RT=
INFO:aseg_gdf2.gdf2:line 3: adding field {'name': 'Time', 'format': 'F10.4', 'unit': 'msec', 'null': '-999.9999', 'long_name': 'Time', 'comment': '', 'cols': 1, 'width': 10} to record type RT=
DEBUG:aseg_gdf2.gdf2:line 4: looping through 2 field definitions for RT=
INFO:aseg_gdf2.gdf2:line 4: adding field {'name': 'Tx_Current', 'format': 'F13.5', 'unit': 'Amp', 'null': '-99999.99999', 'long_name': 'Tx_Current', 'comment': '', 'cols': 1, 'width': 13} to record type RT=
DEBUG:aseg_gdf2.gdf2:line 4: end of field definition for record type RT=

In [13]:
df = gdf.df()

DEBUG:aseg_gdf2.gdf2:_parse_dat: na_values = {'Rx_Voltage': '-99.99999', 'Flight': '-9999', 'Time': '-999.9999', 'Tx_Current': '-99999.99999'}
DEBUG:aseg_gdf2.gdf2:df(kws=
{'header': None,
 'keep_default_na': True,
 'na_values': {'Flight': '-9999',
               'Rx_Voltage': '-99.99999',
               'Time': '-999.9999',
               'Tx_Current': '-99999.99999'},
 'names': ['FLTNUM', 'Rx_Voltage', 'Flight', 'Time', 'Tx_Current'],
 'widths': [10, 10, 6, 10, 13]})
DEBUG:aseg_gdf2.gdf2:final na_values = {'Rx_Voltage': '-99.99999', 'Flight': '-9999', 'Time': '-999.9999', 'Tx_Current': '-99999.99999'}

In [15]:
df.compute()

    FLTNUM  Rx_Voltage  Flight    Time  Tx_Current
0      1.0        -0.0       1  0.0052     0.00176
1      1.0        -0.0     KIR  0.0104     0.00176
2      1.0        -0.0  A UNBA  0.0156     0.00176
3      1.0        -0.0  RAMROD  0.0208     0.00176
4      1.0        -0.0       1  0.0260     0.00176
5      1.0        -0.0       1  0.0312     0.00176
6      1.0        -0.0       1  0.0365     0.00176
7      1.0        -0.0       1  0.0417     0.00176
8      1.0        -0.0       1  0.0469     0.00176
9      1.0        -0.0       1  0.0521     0.00176
10     1.0        -0.0       1  0.0573     0.00176
11     1.0        -0.0       1  0.0625     0.00176
12     1.0        -0.0       1  0.0677     0.00176
13     1.0        -0.0       1  0.0729     0.00176
14     1.0        -0.0       1  0.0781     0.00176
15     1.0        -0.0       1  0.0833     0.00176
16     1.0        -0.0       1  0.0885     0.00176

In [16]:
import dash

In [17]:
dash.__version__

'1.4.1'