In [1]:
import aseg_gdf2

In [8]:
gdf = aseg_gdf2.read(r"C:\Users\kinve\code\aseg_gdf2_testdata\duplicate_data\GA1286_Waveforms.dfn")

In [15]:
print(gdf.dfn_contents)

DEFN 1 ST=RECD,RT=;FLTNUM:F10.1:NAME=FlightNumber
DEFN 2 ST=RECD,RT=;Rx_Voltage:F10.5:NULL=-99.99999,UNIT=Volt,NAME=Rx_Voltage
DEFN 3 ST=RECD,RT=;FLTNUM:I6:NULL=-9999,NAME=Flight
DEFN 4 ST=RECD,RT=;Time:F10.4:NULL=-999.9999,UNIT=msec,NAME=Time
DEFN 5 ST=RECD,RT=;Tx_Current:F13.5:NULL=-99999.99999,UNIT=Amp,NAME=Tx_Current;END DEFN

In [16]:
def find_duplicate_columns(gdf):
    counts = {k: 0 for k in gdf.column_names()}
    for k in gdf.column_names():
        counts[k] += 1
    return {k: c for k, c in counts.items() if c > 1}

In [17]:
find_duplicate_columns(gdf)

{}

In [18]:
for dup_name in find_duplicate_columns(gdf):
    dup_count = 1
    for i, field in enumerate(gdf.record_types[""]["fields"]):
        if field["name"] == dup_name:
            new_column_name = f"{dup_name}__{dup_count}"
            gdf.record_types[""]["fields"][i]["name"] = new_column_name
            dup_count += 1

In [19]:
find_duplicate_columns(gdf)

{}

In [20]:
gdf.df()

       FLTNUM__1  Rx_Voltage  FLTNUM__2     Time  Tx_Current
0            1.0        -0.0          1   0.0052     0.00176
1            1.0        -0.0          1   0.0104     0.00176
2            1.0        -0.0          1   0.0156     0.00176
3            1.0        -0.0          1   0.0208     0.00176
4            1.0        -0.0          1   0.0260     0.00176
...          ...         ...        ...      ...         ...
23035        2.0        -0.0          2  59.9740    -0.00170
23036        2.0        -0.0          2  59.9792    -0.00170
23037        2.0        -0.0          2  59.9844    -0.00170
23038        2.0        -0.0          2  59.9896    -0.00170
23039        2.0        -0.0          2  59.9948    -0.00170

[23040 rows x 5 columns]